body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#chat > ul{
    list-style-type: none;
    width: 100%;
}

#chat > div > input{
    width: 100%;
    padding: 5px 10px 5px 10px;
}

#chat > div > button{
    width: 100%;
}
